/* color scheme lighest to darkest
#E2FBF7
#CAF4ED
#B1EBE1
#97DFD3
#7ED0C3
*/

.div-check {
    background: red;
}
.container-fluid {
    background: #CAF4ED;
}
body {
    background: #E2FBF7
}
.no-padding{
    padding:0;
}
.small-padding {
    padding:5px;
}
.center-div {
    margin:auto;
}
nav{
  /*background: #1a1a1d;*/
  padding: 10px;
  width:100%
  
}
nav a{
  text-decoration: none;
  text-align: inline;
  color: #000000;
  
  
}
nav ul li{
  display: inline;
  padding:30px;
  padding-top:26px;
  padding-bottom:26px;
  transition-duration:1s;
}
nav ul{
   text-align: center;
}
nav li:hover {
  background: #7ED0C3
  
}